@using Blazorius.Charts.Peity.Models

@inherits ChartComponentBase<LineChartOptions>

<div>
    <span id="@Id">@string.Join(Options.Delimiter, Data)</span>
</div>

@code {
    public override ChartType Type => ChartType.Line;

    [Parameter] public int? Min { get => Options.Min; set => Options.Min = value; }
    [Parameter] public int? Max { get => Options.Max; set => Options.Max = value; }
    [Parameter] public string StrokeColor { get => Options.Stroke; set => Options.Stroke = value; }
    [Parameter] public double? StrokeWidth { get => Options.StrokeWidth; set => Options.StrokeWidth = value; }
}

